In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/01_raw_data/2024_NFL_DL.csv")
print(df.shape)
df.head()

(204, 26)

,Rk,Player,Age,Team,Pos▲,G,GS,Int,Yds,IntTD,...,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards,-9999
0,198,Truman Jones,24,NWE,DE,1,0,0,0,0,...,0,0.0,2,2,0,0,0,0,NaN,JoneTr01
1,199,DJ Coleman,26,JAX,DE,1,0,0,0,0,...,0,0.0,3,1,2,0,0,0,NaN,ColeDJ00
2,200,Solomon Byrd,25,HOU,DE,1,0,0,0,0,...,0,0.0,2,2,0,0,1,0,NaN,ByrdSo00
3,201,Derrick Brown,26,CAR,DE,1,1,0,0,0,...,0,0.0,3,1,2,0,0,0,NaN,BrowDe05
4,202,Elerson Smith,26,CLE,DE,2,0,0,0,0,...,0,0.0,2,1,1,0,0,0,NaN,SmitEl00

In [ ]:
df = df.drop(columns=["Rk", "-9999"])
df.columns

Index(['Player', 'Age', 'Team', 'Pos▲', 'G', 'GS', 'Int', 'Yds', 'IntTD',
       'Lng', 'PD', 'FF', 'Fmb', 'FR', 'Yds.1', 'FRTD', 'Sk', 'Comb', 'Solo',
       'Ast', 'TFL', 'QBHits', 'Sfty', 'Awards'],
      dtype='object')

In [14]:
df.columns = df.columns.str.lower()
df.columns

Index(['player', 'age', 'team', 'pos▲', 'g', 'gs', 'int', 'yds', 'inttd',
       'lng', 'pd', 'ff', 'fmb', 'fr', 'yds.1', 'frtd', 'sk', 'comb', 'solo',
       'ast', 'tfl', 'qbhits', 'sfty', 'awards'],
      dtype='object')

In [ ]:
df.rename(columns={"pos▲": "pos"})

,player,age,team,pos,g,gs,int,yds,inttd,lng,...,yds.1,frtd,sk,comb,solo,ast,tfl,qbhits,sfty,awards
0,Truman Jones,24,NWE,DE,1,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,NaN
1,DJ Coleman,26,JAX,DE,1,0,0,0,0,0,...,0,0,0.0,3,1,2,0,0,0,NaN
2,Solomon Byrd,25,HOU,DE,1,0,0,0,0,0,...,0,0,0.0,2,2,0,0,1,0,NaN
3,Derrick Brown,26,CAR,DE,1,1,0,0,0,0,...,0,0,0.0,3,1,2,0,0,0,NaN
4,Elerson Smith,26,CLE,DE,2,0,0,0,0,0,...,0,0,0.0,2,1,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,Milton Williams,25,PHI,DT,17,7,0,0,0,0,...,0,0,5.0,24,11,13,7,10,0,NaN
200,Jonah Laulu,24,LVR,DT,17,7,0,0,0,0,...,0,0,1.0,35,15,20,3,2,0,NaN
201,Johnathan Hankins,32,SEA,DT,17,8,1,0,0,0,...,0,0,1.0,30,15,15,5,2,0,NaN
202,Bryan Bresee,23,NOR,DT,17,11,0,0,0,0,...,0,0,7.5,25,17,8,7,14,0,NaN
203,Nnamdi Madubuike,27,BAL,DT,17,17,0,0,0,0,...,0,0,6.5,43,21,22,11,17,0,PB

In [ ]:
import pandas as pd

dline21 = pd.read_csv("../data/01_raw_data/d-line/21_D-line.csv")
dline22 = pd.read_csv("../data/01_raw_data/d-line/22_D-line.csv")
dline23 = pd.read_csv("../data/01_raw_data/d-line/23_D-line.csv")
dline24 = pd.read_csv("../data/01_raw_data/d-line/24_D-line.csv")
dline = pd.read_csv("../data/01_raw_data/d-line/d-line.csv")

In [41]:
# dline = (
#     pd.concat([dline21, dline22], ignore_index=True)
#     .groupby("Player", as_index=False)
#     .sum(numeric_only=True)
# )

In [42]:
dline.head()

,Rk,Player,Age,Team,Pos,G,GS,Int,Yds,IntTD,...,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards,-9999
0,280,Ethan Westbrooks,31,NOR,DE,1,0,0,0,0,...,0,0.0,1,1,0,0,0,0,NaN,WestEt00
1,281,Nick Thurman,26,ATL,DE,1,0,0,0,0,...,0,0.0,1,1,0,0,1,0,NaN,ThurNi00
2,282,Za'Darius Smith,29,GNB,DE,1,0,0,0,0,...,0,0.0,1,1,0,0,0,0,NaN,SmitZa00
3,283,Jabaal Sheard,32,MIA,DE,1,0,0,0,0,...,0,0.0,1,0,1,0,0,0,NaN,SheaJa00
4,284,Freedom Akinmoladun,25,NYJ,DE,1,0,0,0,0,...,0,0.0,2,2,0,0,0,0,NaN,AkinFr01

In [ ]:
dline = dline.drop(["Rk", "Age", "Team", "-9999"], axis=1)
dline.head()

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,NaN
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,NaN
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,NaN
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,NaN
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,NaN

In [ ]:
dline["Awards"] = dline["Awards"].fillna("0")
dline

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Milton Williams,DT,17,7,0,0,0,0,1,1,...,0,0,5.0,24,11,13,7,10,0,0
864,Jonah Laulu,DT,17,7,0,0,0,0,3,0,...,0,0,1.0,35,15,20,3,2,0,0
865,Johnathan Hankins,DT,17,8,1,0,0,0,1,0,...,0,0,1.0,30,15,15,5,2,0,0
866,Bryan Bresee,DT,17,11,0,0,0,0,3,1,...,0,0,7.5,25,17,8,7,14,0,0
867,Nnamdi Madubuike,DT,17,17,0,0,0,0,1,1,...,0,0,6.5,43,21,22,11,17,0,PB

In [45]:
dline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 868 entries, 0 to 867
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  868 non-null    object
 1   Pos     868 non-null    object
 2   G       868 non-null    int64
 3   GS      868 non-null    int64
 4   Int     868 non-null    int64
 5   Yds     868 non-null    int64
 6   IntTD   868 non-null    int64
 7   Lng     868 non-null    int64
 8   PD      868 non-null    int64
 9   FF      868 non-null    int64
 10  Fmb     868 non-null    int64
 11  FR      868 non-null    int64
 12  Yds.1   868 non-null    int64
 13  FRTD    868 non-null    int64
 14  Sk      868 non-null    float64
 15  Comb    868 non-null    int64
 16  Solo    868 non-null    int64
 17  Ast     868 non-null    int64
 18  TFL     868 non-null    int64
 19  QBHits  868 non-null    int64
 20  Sfty    868 non-null    int64
 21  Awards  868 non-null    object
dtypes: float64(1), int64(18), object(3)
memory usage: 149.3+ KB

In [48]:
dline

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Milton Williams,DT,17,7,0,0,0,0,1,1,...,0,0,5.0,24,11,13,7,10,0,0
864,Jonah Laulu,DT,17,7,0,0,0,0,3,0,...,0,0,1.0,35,15,20,3,2,0,0
865,Johnathan Hankins,DT,17,8,1,0,0,0,1,0,...,0,0,1.0,30,15,15,5,2,0,0
866,Bryan Bresee,DT,17,11,0,0,0,0,3,1,...,0,0,7.5,25,17,8,7,14,0,0
867,Nnamdi Madubuike,DT,17,17,0,0,0,0,1,1,...,0,0,6.5,43,21,22,11,17,0,PB

In [ ]:
dline["Player"].duplicated().sum()

np.int64(381)

In [58]:
test = dline.copy()

In [ ]:
test.drop(["Awards", "Pos"], axis=1)

,Player,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,FR,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty
0,Ethan Westbrooks,1,0,0,0,0,0,0,0,0,0,0,0,0.0,1,1,0,0,0,0
1,Nick Thurman,1,0,0,0,0,0,0,0,0,0,0,0,0.0,1,1,0,0,1,0
2,Za'Darius Smith,1,0,0,0,0,0,0,0,0,0,0,0,0.0,1,1,0,0,0,0
3,Jabaal Sheard,1,0,0,0,0,0,0,0,0,0,0,0,0.0,1,0,1,0,0,0
4,Freedom Akinmoladun,1,0,0,0,0,0,0,0,0,0,0,0,0.0,2,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Milton Williams,17,7,0,0,0,0,1,1,0,1,0,0,5.0,24,11,13,7,10,0
864,Jonah Laulu,17,7,0,0,0,0,3,0,0,0,0,0,1.0,35,15,20,3,2,0
865,Johnathan Hankins,17,8,1,0,0,0,1,0,0,0,0,0,1.0,30,15,15,5,2,0
866,Bryan Bresee,17,11,0,0,0,0,3,1,0,0,0,0,7.5,25,17,8,7,14,0
867,Nnamdi Madubuike,17,17,0,0,0,0,1,1,0,0,0,0,6.5,43,21,22,11,17,0

In [ ]:
group = test.groupby("Player").sum()

In [68]:
group

,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,Fmb,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
Player,,,,,,,,,,,,,,,,,,,,,
A'Shawn Robinson,DL,17,13,0,0,0,0,2,0,0,...,0,0,0.0,62,34,28,6,1,0,0
A.J. Epenesa,DEDEDE,44,3,2,38,1,32,14,3,0,...,0,0,14.5,50,30,20,16,29,0,000
Aaron Donald,DTDT,27,27,0,0,0,0,5,1,0,...,0,0,13.0,102,55,47,26,34,0,PBPBAP-1AP CPoY-9
Abdullah Anderson,DEDL,10,0,0,0,0,0,0,0,0,...,0,0,0.5,10,6,4,1,1,0,00
Adam Butler,DTDT,34,1,0,0,0,0,7,1,0,...,0,0,7.0,45,25,20,10,14,0,00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zach Harrison,DLDL,33,1,0,0,0,0,3,0,0,...,0,0,4.0,59,24,35,7,6,1,00
Zach Kerr,DT,7,0,0,0,0,0,0,0,0,...,0,0,0.0,6,2,4,0,0,0,0
Zach Sieler,DT,17,17,1,5,1,5,4,1,0,...,3,0,10.0,63,32,31,11,22,0,0
Zachary Carter,DTDT,29,7,0,0,0,0,2,1,0,...,0,0,1.5,45,18,27,1,4,0,00
Zion Logue,DT,2,0,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0

In [ ]:
dline.groupby("Player")
dline

,Player,Pos,G,GS,Int,Yds,IntTD,Lng,PD,FF,...,Yds.1,FRTD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty,Awards
0,Ethan Westbrooks,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
1,Nick Thurman,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,1,0,0
2,Za'Darius Smith,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,1,0,0,0,0,0
3,Jabaal Sheard,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,1,0,1,0,0,0,0
4,Freedom Akinmoladun,DE,1,0,0,0,0,0,0,0,...,0,0,0.0,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
863,Milton Williams,DT,17,7,0,0,0,0,1,1,...,0,0,5.0,24,11,13,7,10,0,0
864,Jonah Laulu,DT,17,7,0,0,0,0,3,0,...,0,0,1.0,35,15,20,3,2,0,0
865,Johnathan Hankins,DT,17,8,1,0,0,0,1,0,...,0,0,1.0,30,15,15,5,2,0,0
866,Bryan Bresee,DT,17,11,0,0,0,0,3,1,...,0,0,7.5,25,17,8,7,14,0,0
867,Nnamdi Madubuike,DT,17,17,0,0,0,0,1,1,...,0,0,6.5,43,21,22,11,17,0,PB

In [71]:
dline["Awards"] = 1 if dline["Awards"] != "0" else 0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Merge clean Dline data get awards column to be encoded and then summed up on the groupby then use to k-means for Defense

then do the same thing for the offensive line.